body {
	background-color: #f8f9fa;
}

.container{
	margin-top: 20px;
	/*border: 2px dotted black;*/
}

.tmdb-container{
	/* display: grid;
	grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
	display: flex;
	position:relative;
	flex-wrap: wrap;
	width:fit-content;
	text-align: center;
	justify-content:space-between;
	margin: 3px 3px 3px 3px;
	border-radius: 5px;
}

.tmdb-movie-container{
	/*display: grid;
	grid-template: 1fr / 1fr;
	*/
	display: flex;
	
	flex-direction: column;
	justify-content:space-between;
	flex-grow: 1;
	width: 180px;
	/* margin-top: 20px; */
	margin: 15px 8px;
	/* border: 2px dotted black; */
	border: 1px solid black;
	border-radius: 5px;
	/* text-shadow: 0 0 5px wheat; */
	/* text-shadow: 0 0 5px #444; */
}


.tmdb-title{
	border: 1em;
	text-decoration: none;
	color: black;
	padding: 0.5em 0em;
}

.tmdb-detail{
	padding: 0.5em;;
}

.tmdb-image{
  /*display: flex;*/
  width: 180px;
  /* height: 260px; */
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-toggle{
	color: black;
	/* float: left; */
}

.search-toggle{
	/* display: flex; */
	color: black;
}

.search{
	color:black;
	background-color:darkcyan;
}

.main-movie-title{
	/*display: flex;*/	
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.a_image{
  /*display: flex;*/
  /*width: 180px;*/
  border: 1px solid #ddd;
  border-radius: 8px;
  /* text-shadow: 0 0 5px wheat; */
  /* text-shadow: 0 0 5px #444; */
  /* box-shadow: 0px 0px 5px 1px #bbb; */
}

.a_image:hover{
	box-shadow: 0px 0px 5px 1px #bbb;
}

.title{
	text-decoration: none;
	color: black;
}
.movie_date,.movie_date:hover{
	font-size: 1em;
	color:  black;
}

.main-movie-partial-text,.main-movie-full-text{
	font-size: 1.5em;
	margin-top: 20px;
}

.main-actor-full-text{
	font-size: 1.2em;
	margin-top: 20px;
}

.main-movie-category{
	color: rgba(0, 0, 0, 0.4);
}

.author-name:link{
	color: gray;
}

.author-name:visited{
	color: #696969;
}

.author-name:hover{
	color: #D3D3D3;
}

.movie_title:link, .movie_title:hover, .movie_title:visited{
	text-decoration: none;
	color: black;
}

.main-movie-category:hover,.main-movie-title:hover,.author-name, .title:hover{
	text-decoration: underline;
	color: black;
}

footer{
	color: #fff;
	background-color: #343a40;
}

.litems,.mlink{
	text-decoration: none;
	/*color: #f8f9fa;*/
	color: rgba(255,255,255,.90)!important;
	
}
.litems:hover{
	/*color: white;*/
	color: rgba(255,255,255,10)!important;
}

.row{
	margin-top: 20px;
}

.navbar-profile-image{
	width: 50px;
	height: 50px;
}

.profile-image{
	width: 60px;
	height: 60px;
	margin: 10px;
}

.aba_header{
	text-align: center;
}

.error_message{
	text-align: center;
	color: rgba(255,30,30,.90);
	font-size: 2em;
	font-weight: bold;
}


.error_image{
	text-align: center;
	width: 1000px;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid black;

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.align-buttons{
	text-align: center;
	/* border: 1px solid black; */
}
